<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe list</title>
</head>
<body>
<h1>Recipes</h1>
<table>
    <tr>
        <td style="width: 50px;">No</td>
        <td style="width: 200px;">description</td>
        <td style="width: 200px;">difficulty</td>
        <td style="width: 200px;">preparation time</td>
    </tr>

    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">134</td>
        <td th:text="${recipe.description}">134</td>
        <td th:text="${recipe.difficulty}">joe</td>
        <td th:text="${recipe.prepTime}">cook</td>
    </tr>


</table>

</body>
</html>